<!DOCTYPE html>
<html>
<head>
	<title>结算单</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<table border="1">
		<thead>
			<tr>
				<td width="80" valign="middle">结算单号</td>
				<td width="80" valign="middle">开始时间</td>
				<td width="80" valign="middle">结束时间</td>
				<td width="200" valign="middle">影院名称</td>
				<td width="120" valign="middle">供应商编号</td>
				<td width="200" valign="middle">供应商名称</td>
				<td width="120" valign="middle">结算票数</td>
				<td width="120" valign="middle">结算金额</td>
			</tr>
		</thead>
		<tbody>
			#foreach($s in ${bills})
			<tr>
				<td height="26" valign="middle">
					$!{s.recordId}
				</td>
				<td height="26" valign="middle">
					$!DateUtil.formatTimestamp($!{s.startTime})
				</td>
				<td height="26" valign="middle">
					$!DateUtil.formatTimestamp($!{s.endTime})
				</td>
				<td height="26" valign="middle">
					$!{s.cinemaName}
				</td>
				<td height="26" valign="middle">
					$!{s.vendorCode}
				</td>
				<td height="26" valign="middle">
					$!{s.vendorName}
				</td>
				<td height="26" valign="middle">
					$!{s.settleNumber}
				</td>
				<td height="26" valign="middle">
					$!{s.settleAmount}
				</td>
			</tr>
		 #end
		</tbody>
	</table>
</body>
</html>