<!DOCTYPE html>
<html>
<head>
	<title>结算单</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<table border="1">
		<thead>
			<tr>
				<td width="200" valign="middle">影院名称</td>
				<td width="200" valign="middle">场馆ID</td>
				<td width="120" valign="middle">月份</td>
				<td width="200" valign="middle">票数</td>
				<td width="120" valign="middle">金额</td>
				<td width="120" valign="middle">院线</td>
				<td width="120" valign="middle">系统</td>
				<td width="120" valign="middle">城市编码</td>
				<td width="120" valign="middle">城市名称</td>
				
			</tr>
		</thead>
		<tbody>
			#foreach($map in ${qryMap})
			<tr>
				<td height="26" valign="middle">
					$!{map.get("name")}
				</td>
				<td height="26" valign="middle">
					$!{map.get("place_id")}
				</td>
				<td height="26" valign="middle">
					$!DateUtil.format($!map.get("month"),'yyyy-MM-dd')
				</td>
				<td height="26" valign="middle">
					$!{map.get("ticket")}
				</td>
				<td height="26" valign="middle">
					$!{map.get("amount")}
				</td>
				<td height="26" valign="middle">
					$!{map.get("brand_name")}
				</td>
				<td height="26" valign="middle">
					$!{map.get("open_type")}
				</td>
				<td height="26" valign="middle">
					$!{map.get("city_code")}
				</td>
				<td height="26" valign="middle">
					$!{map.get("cityName")}
				</td>
			</tr>
		 #end
		</tbody>
	</table>
</body>
</html>