<!DOCTYPE html>
<html>
<head>
	<title>订单明细</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<table border="1">
		<thead>
			<tr>
				<td width="110" height="32" valign="middle">订单号</td>
				<td>下单日期</td>
				<td>场次日期</td>
				<td>场次时间</td>
				<td>影厅</td>
				<td>影片</td>
				<td>商品数量</td>
				<td>结算金额</td>
				<td>用户开票金额</td>
				<td>特价扣减</td>
				<td width="320" >订单详细</td>
				<td>对账码</td>
				<th>优惠+瓦币</th>
				<th>订单状态</th>
			</tr>
		</thead>
		<tbody>
			#if($orders && $orders.size() > 0)
			#foreach($o in ${orders})
			<tr>
				<td style="vnd.ms-excel.numberformat:@" width="110" height="26" valign="middle">
					$!{o.tradeno}
				</td>
				<td>
					 $!DateUtil.formatTimestamp($!{o.dealTime})
				</td>
				#set($otherInfo=$!{VmUtils.readJsonToMap(${o.otherInfo})})
				#set($changci=$!{otherInfo.remove("场次")})
				<td>
					$!changci.split(" +")[0]
				</td>
				<td>
					$!changci.split(" +")[1]
				</td>
				<td>
					$!{otherInfo.remove("影厅")}
				</td>
				<td>
					$!{otherInfo.remove("影片")}
				</td>
				<td>
					$!{o.quantity}
				</td>
				<td>
					$!CurrencyFmt.format($!{o.totalCost})
				</td>
				<td >$!CurrencyFmt.format($!{o.alipaid})</td>
				<td>
					$!CurrencyFmt.format($!{o.placeallowance})
				</td>
				<td>
					$VmUtils.replaceAll($!{otherInfo.remove("影票")}, "\d+元", "")
				</td>
				<td style="vnd.ms-excel.numberformat:@">
					$!{o.outerId}
				</td>
				<td>
					$!CurrencyFmt.format($!{o.discount})
				</td>
				<td ><span>
						#if($VmUtils.eq("paid_success",$o.orderStatus))
							成功
						#elseif($VmUtils.eq("paid_return",$o.orderStatus))
							退款
						#end
						</span>
					</td>
			</tr>
			#end
			<tr>
				<td width="110" height="26" valign="middle">总计</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td>$!{aggres[1]}</td>
				<td>$!CurrencyFmt.format($!{aggres[2]})</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			#else
			<tr><td colspan="9">当前条件没有任何数据</td></tr>
			#end
		</tbody>
	</table>
</body>
</html>