<!DOCTYPE html>
<html>

<head>
	<title>对账单</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<style type="text/css">
		body{position:relative;}
		table{border-collapse:collapse;}
	</style>
</head>
<body>
	<div style="position:absolute;left: 10%; bottom: 6px;">
		<img src="${basePath}financeChop.xhtml" style="filter:alpha(opacity=30);opacity:0.6;" width="210px" height="150px">
	</div>
	<div style="position:absolute;left: 80%; top: 50px;">
		
	</div>
	<table width="98%" border="1">
		<thead>
			<tr>
				<th colspan="8" height="32" valign="middle">#if($VmUtils.eq($tag,'CHANNEL')) $!vendorName #else $!{place.name} #end #if($VmUtils.eq($tag,'TICKET')) 影片放映确认书  #elseif($VmUtils.eq($tag,'GOODS')) 卖品结算确认书 #else 通道费结算确认书 #end 
					<label type="label" align="right" style="float:right;">No.$!{settle.recordId}</label>
				</th>
			 </tr>
		</thead>
		#if($cks && $cks.size() > 0)
		<tbody>
		<tr>
			<td width="20%" valign="middle" >对账日期</td>
			<td width="15%" valign="middle" >结算票数</td>
			<td width="15%" valign="middle" >结算金额</td>
			<td width="15%" valign="middle" >退票数量</td>
			<td width="15%" valign="middle" >退票金额</td>
			<td rowspan="$VmUtils.calculate($!{cks.size()}, "2", "+")">
				<div style="text-align:center;">
					<img style="margin:0 auto;" width="220" height="220" src="${basePath}qrcode.xhtml?recordId=$!{settle.recordId}" align="middle">
				</div>
			</td>
		</tr>
				#set($allOrder=0)
				#set($allOrderAmount=0)
				#set($allRefund=0)
				#set($allRefundmount=0)
				#foreach($ck in ${cks})
					#set($orderTotal=0)
					#set($orderTotalAmount=0)
					#set($refundTotal=0)
					#set($refundTotalAmount=0)
					#set($unrefundTotal=0)
					#set($unrefundTotalAmount=0)
					
					#set($place=$!{pm.get(${ck.configId})})
					#set($aggre=${agg.get(${ck.recordId})})
					
					#if("NEW" eq ($!{ck.status}))
						#set($orderTotal=$VmUtils.calculate($!{aggre.get("orderTotal")}, $!{aggre.get("refundTotal")} ,"-"))
						#set($orderTotalAmount=$VmUtils.calculate($!{aggre.get("orderAmount")}, $!{aggre.get("refundAmount")} ,"-"))
						#set($refundTotal=$!{aggre.get("refundTotal")})
						#set($refundTotalAmount=$!{aggre.get("refundAmount")})
						#set($unrefundTotal=$!{aggre.get("unRefundTotal")})
						#set($unrefundTotalAmount=$!{aggre.get("unRefundAmount")})
					#else
						#set($orderTotal=$!{ck.orderTotalNumber})
						#set($orderTotalAmount=$!{ck.orderTotalAmount})
						#set($refundTotal=$!{ck.refundTotalNumber})
						#set($refundTotalAmount=$!{ck.refundTotalAmount})
						#set($unrefundTotal=$!{ck.unrefundTotalNumber})
						#set($unrefundTotalAmount=$!{ck.unrefundTotalAmount})
					#end
					#set($allOrder=$allOrder + $orderTotal)
					#set($allOrderAmount= $allOrderAmount + $orderTotalAmount)
					#set($allRefund= $allRefund + $refundTotal)
					#set($allRefundmount= $allRefundmount + $refundTotalAmount)
			<tr>
				<td  align="left" height="20" valign="middle">
					$!DateUtil.formatDate($!{ck.start})
				</td>
				#set($place=$!{pm.get(${ck.configId})})
				#set($aggre=${agg.get(${ck.recordId})})
				<td  align="right" height="20" valign="middle">
					$orderTotal
				</td>
				<td  align="right" height="20" valign="middle">
					$!CurrencyFmt.format($orderTotalAmount)
				</td>
				<td  align="right" height="20" valign="middle">
					$refundTotal
				</td>
				<td  align="right" height="20" valign="middle">
					$!CurrencyFmt.format($refundTotalAmount)
				</td>
			</tr>
			#end
			#else
			<tr>
				<td  align="right" height="20" valign="middle">无时间</td>
				<td  align="right" height="20" valign="middle">$!allOrder</td>
				<td  align="right" height="20" valign="middle">$!CurrencyFmt.format($allOrderAmount)</td>
				<td  align="right" height="20" valign="middle">$!allRefund</td>
				<td  align="right" height="20" valign="middle">$!CurrencyFmt.format($allRefundmount)</td>
				<td  align="right" height="20" valign="middle">&nbsp;</td>
			</tr>
			#end
			#set($updateOrderCount=0)
			#set($updateOrderAmount=0)
			#if($ads && $ads.size() > 0)
				#foreach($ad in ${ads})
					#set($updateOrderCount=$!{ad.adjustNumber}+$updateOrderCount)
					#set($updateOrderAmount=$!{ad.amount}+$updateOrderAmount)
				#end
				<tr>
					<td  align="left" height="20" valign="middle">调整</td>
					<td  align="left" height="20" valign="middle">$updateOrderCount</td>
					<td  align="left" height="20" valign="middle">$!CurrencyFmt.format($updateOrderAmount)</td>
					<td colspan="2"></td>
				</tr>
			#end
			
			
			#set($prn=0)
			#set($pra=0)
			#if($settle && ($settle.previousRefundNumber != 0 || $settle.previousRefundAmount != 0))
			<tr>
				#set($prn=$settle.previousRefundNumber)
				#set($pra=$settle.previousRefundAmount)
				<td  align="left" height="20" valign="middle">往期差异</td>
				<td  align="left" height="20" valign="middle">$prn</td>
				<td  align="left" height="20" valign="middle">$pra</td>
				<td colspan="2"></td>
			</tr>
			#end
			
			<tr>
				<td  align="right" height="20" valign="middle">合计</td>
				#set($allOrder=$updateOrderCount + $allOrder)
				#set($allOrder=$allOrder - $prn)
				<td  align="right" height="20" valign="middle">#if($VmUtils.eq($tag,'CHANNEL')) - #else $allOrder #end</td>
				#set($allOrderAmount=$allOrderAmount + $updateOrderAmount)
				#set($allOrderAmount=$allOrderAmount - $pra)
				<td  align="right" height="20" valign="middle">#if($VmUtils.eq($tag,'CHANNEL')) $!settle.orderTotalAmount #else $!CurrencyFmt.format($allOrderAmount) #end</td>
				<td  align="right" height="20" valign="middle">#if($VmUtils.eq($tag,'CHANNEL')) - #else $allRefund #end</td>
				<td  align="right" height="20" valign="middle">#if($VmUtils.eq($tag,'CHANNEL')) - #else $!CurrencyFmt.format($allRefundmount) #end</td>
			</tr>
		</tbody>
		<tfoot>
			<tr><td colspan="8"  align="left" height="20" valign="middle">双方签字盖章确认</td></tr>
			<tr><td colspan="4"  align="left" height="20" valign="middle">公司名称：上海格瓦商务信息咨询有限公司</td><td colspan="4"  align="left" height="20" valign="middle">公司名称：$!{merinfo.get("conName")}</td></tr>
			<tr><td colspan="4"  align="left" height="20" valign="middle">传真号码：021-33608717</td><td colspan="4"  align="left" height="20" valign="middle">确认手机：$!{merinfo.get("verMobile")}</td></tr>
			<tr><td colspan="4"  align="left" height="20" valign="middle">付款人名：$!{gst.operator}</td><td colspan="4"  align="left" height="20" valign="middle">确认人名：$!{mst.operator}</td></tr>
			<tr><td colspan="4"  align="left" height="20" valign="middle">付款日期：$!{gst.addTime}</td><td colspan="4"  align="left" height="20" valign="middle">确认日期：$!{mst.addTime}</td></tr>
			<tr><td colspan="4"  align="left" height="20" valign="middle"></td><td colspan="4"  align="left" height="20" valign="middle"></td></tr>
		</tfoot>
	</table>
</body>
</html>