<!DOCTYPE html>
<html>
<head>
	<title>订单明细</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0"/>
	<link rel="stylesheet" type="text/css" href="${staticPath}css/html.css?v=$VmUtils.jsVersion" />
	<link rel="stylesheet" type="text/css" href="${staticPath}css/settleaccounts/warp.css?v=$VmUtils.jsVersion" />
	<script type="text/javascript" src="${staticPath}scripts/mootools.js"></script>
	<script type="text/javascript" src="${staticPath}scripts/gewara-util.js?v=$VmUtils.jsVersion"></script>
	<script type="text/javascript" src="${staticPath}scripts/apps.js?v=00000"></script>
	<script type="text/javascript" src="${staticPath}scripts/html5.js?v=00000"></script>
	<script type="text/javascript" src="${staticPath}dpicker/WdatePicker.js"></script>
	<script type="text/javascript" src="${staticPath}scripts/tableGear.js?v=00000"></script>
	<script type="text/javascript" src="${staticPath}scripts/Autocompleter.js?v=00000"></script>
	<style type="text/css">
		html{background:#fff;}
		.s{background:#BFB7B7;}
	</style>
</head>
<body id="_body">
<div class="inner">
	#if($orders && $orders.size() > 0)
	<div class="mod_hd"><h2>
		#if($VmUtils.eq("r",${params.t}))
			已退款的订单
		#elseif($VmUtils.eq("u",${params.t}))
			已退款仍需结算订单
		#elseif($VmUtils.eq("p",${params.t}))
			往期差异订单
		#else
			调整过的订单
		#end
	</h2></div>
	<div class="tableGear clear">
		<table class="tableGear" id="tableGear">
			<thead>
				<tr>
					<th class="sortable"><span>编号</span><span class="carat"></span></th>
					<th class="sortable"><span>场馆</span><span class="carat"></span></th>
					<th class="sortable"><span>订单号</span><span class="carat"></span></th>
					<th class="sortable"><span>下单日期</span><span class="carat"></span></th>
					<th class="sortable"><span>场次</span><span class="carat"></span></th>
					<th class="sortable"><span>影片</span><span class="carat"></span></th>
					<th class="sortable"><span>商品数量</span><span class="carat"></span></th>
					<th class="sortable"><span>结算金额</span><span class="carat"></span></th>
					<th class="sortable"><span>新结算金额</span><span class="carat"></span></th>
					<th class="sortable"><span>订单详细</span><span class="carat"></span></th>
					<th class="sortable"><span>调整金额</span><span class="carat"></span></th>
					<th class="sortable"><span>订单状态</span><span class="carat"></span></th>
					#if($VmUtils.eq("r",${params.t}) || $VmUtils.eq("u",${params.t}))
						<th class="sortable"><span>退款原因</span><span class="carat"></span></th>
					#end
				</tr>
			</thead>
			<tbody>
				#foreach($o in ${orders})
				<tr>
					<td style="width:30px;"><span>
						$!{foreach.count}
						</span>
					</td>
					<td width="150px"><span>
						$!{VmUtils.getPlaceName($!{pm}, $!{o.tag}, $!{o.relateId})}
						</span>
					</td>
					<td style="width:30px;"><span>
						$!{o.tradeno}
						</span>
					</td>
					
					<td style="width:120px;"><span>
						 $!DateUtil.formatTimestamp($!{o.dealTime}) 
						</span>
					</td>
					#set($otherInfo=$!{VmUtils.readJsonToMap(${o.otherInfo})})
					#set($refund=$rm.get($!{o.tradeno}))
					<td style="width:50px;"><span>
						$!{otherInfo.remove("场次")}
						</span>
					</td>
					<td style="width:50px;"><span>
						$!{otherInfo.remove("影片")}
						</span>
					</td>
					<td style="width:60px;"><span>
						$!{o.quantity}
						</span>
					</td>
					<td style="width:60px;"><span>
						$!{o.totalCost}
						</span>
					</td>
					<td style="width:60px;"><span>
						$!{refund.newSettle}
						</span>
					</td>
					<td><span>
						$!{otherInfo.remove("影票")}
						</span>
					</td>
					<td style="width:60px;"><span>
						$!{adsMap.get($!{o.tradeno})}
						</span>
					</td>
					<td style="width:60px;"><span>
						#if($VmUtils.eq("paid_success",$o.orderStatus))
							成功
						#elseif($VmUtils.eq("paid_return",$o.orderStatus))
							退款
						#end
						</span>
					</td>
					<td><span>
						#if($VmUtils.eq("r",${params.t}) || $VmUtils.eq("u",${params.t}))
							$!refund.applyInfo
						#end
					</span>
					</td>
					
				</tr>
				#end
				<tr>
					<td colspan="12">
						<h2>总计订单：${aggres[0]}笔，订单票数：${aggres[1]}，总计金额：${aggres[2]}</h2>
					</td>
				</tr>
			</tbody>
			#if ($VmUtils.isBlank($!{params.isXls}))
			<tfoot>
				<tr>
					<td colspan="12">
					#parse('WEB-INF/include/pageUtil.vm')
					</td>
				</tr>
			</tfoot>
			#end
		</table>
	</div>
	#else
	<div class="ui_warning">查询条件范围内，没有数据。</div>
	#end
	
</div>
<script type="text/javascript">
window.addEvent('domready',function(){
	#if($orders && $orders.size() > 0)
	new TableGear('tableGear');
	$('tableGear').getElements('tr').addEvents({
		"mouseover":function(){
			this.addClass('s')
		},
		"mouseout":function(){
			this.removeClass('s')
		}
	});
	#end
});
</script>
</body>
</html>