<!DOCTYPE html>
<html>
<head>
	<title>异价账单</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0"/>
	<link rel="stylesheet" type="text/css" href="${staticPath}css/html.css?v=$VmUtils.jsVersion" />
	<link rel="stylesheet" type="text/css" href="${staticPath}css/settleaccounts/warp.css?v=$VmUtils.jsVersion" />
	<script type="text/javascript" src="${staticPath}scripts/mootools.js"></script>
	<script type="text/javascript" src="${staticPath}scripts/gewara-util.js?v=$VmUtils.jsVersion"></script>
	<script type="text/javascript" src="${staticPath}scripts/apps.js?v=00000"></script>
	<script type="text/javascript" src="${staticPath}scripts/html5.js?v=00000"></script>
	<script type="text/javascript" src="${staticPath}dpicker/WdatePicker.js"></script>
	<script type="text/javascript" src="${staticPath}scripts/tableGear.js?v=00000"></script>
	<script type="text/javascript" src="${staticPath}scripts/Autocompleter.js?v=00000"></script>
	<style type="text/css">
		html{background:#fff;}
		.s{background:#f0f0f0;}
	</style>
	</head>
<body id="_body">
<div class="inner">
	<div class="mod_hd"><h2>异价账单</h2></div>
	
	<div class="mode_search">
		<form action="${basePath}platform/diffPriceBill/diffPriceBillDetail.xhtml" method="post"  onkeydown="javascript:submitByEnter();">
				<h2>查询条件</h2>
				<dl class="mode_search_title">
					<dt>账单时间：</dt>
						<dd>
							<input style="width:150px;" class="text" name="startTime" id="start" value="$!{setl.startTime}" 
									onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})" class="Wdate" onFocus="WdatePicker({maxDate:'#F{$dp.$D(\'end\')||\'2020-10-01\'}'})"/>至
							<input style="width:150px;" class="text" name="endTime" id="end" value="$!{setl.endTime}" onFocus="WdatePicker({minDate:'#F{$dp.$D(\'start\')}',maxDate:'2020-10-01'})" 
									onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})" class="Wdate" />
							<input name="recordId" id="recordId" value="${setl.recordId}" type="hidden"/>
							<input name="relateId" id="relateId" value="${setl.relateId}" type="hidden"/>
						</dd>
				</dl>
				<div class="mode_search_title">
					<a href="javascript:document.forms[0].submit()" class="button minBt whiteBt"><span>查&nbsp;&nbsp;询</span></a>
					<input type="hidden" name="settleId" value="$!params.settleId"/>
					<a href="javascript:void(0);" class="button minBt whiteBt" onclick="downloadxls();">导出EXCEL</a>
					<a href="javascript:void(0);" class="button minBt whiteBt" onclick="downloadAllDiffPricOrderxls($!{setl.recordId});">导出所有异价订单EXCEL</a>
					#parse("WEB-INF/pages/common/goback.vm")
				</div>
		</form>
	</div>
	
	#if($dpbList && $dpbList.size() > 0)
	<div class="tableGear clear">
		<table class="tableGear" id="tableGear">
			<thead>
				<tr>
					<th class="sortable"><span>编号</span><span class="carat"></span></th>
					<th class="sortable"><span>单号</span><span class="carat"></span></th>
					<th class="sortable"><span>对账周期</span><span class="carat"></span></th>
					<th class="sortable"><span>异价票数量</span><span class="carat"></span></th>
					<th class="sortable"><span>异价票退票数量</span><span class="carat"></span></th>
					<th class="sortable"><span>异价差额</span><span class="carat"></span></th>
					<th class="sortable"><span>备注</span><span class="carat"></span></th>
				</tr>
			</thead>
			<tbody>
				#foreach($dpb in ${dpbList})
					<tr>
						<td style="width:30px;"><span>
							$!{foreach.count}
							</span>
						</td>
						<td><span>
							<a href="javascript:loadDiffPricOrder($!{dpb.checkBillId});">$!{dpb.checkBillId}</a>
							</span>
						</td>
						<td style="width:150px;"><span>
							[ $!DateUtil.formatTimestamp($!{dpb.start}) -
							$!DateUtil.formatTimestamp($!{dpb.end})]
							</span>
						</td>
						<td><span>
							$!{dpb.diffOrderNum}
							</span>
						</td>
						<td><span>
							$!{dpb.diffRefundNum}
							</span>
						</td>
						<td><span>
							$!CurrencyFmt.format($dpb.diffAmount)
							</span>
						</td>
						<td> </td>
					</tr>
				#end
					<tr>
						<td colspan="3">合计</td>
						<td>$!{diffPriceOrderNumber}</td>
						<td>$!{diffRefundOrderNumber}</td>
						<td>$!{diffPriceAmount}</td>
						<td></td>
					</tr>
			</tbody>
		</table>
	</div>
	#else
		<div class="ui_warning">查询条件范围内，没有数据。</div>
	#end
</div>
<div id="commMark" style="display:none; height: 450px; overflow: scroll;"></div>

<script type="text/javascript">

function submitByEnter(){
    if(event.keyCode == 13){
     document.forms[0].submit();
    }
}

function downloadxls(){
	var startTime = $('start').value,
		endTime = $('end').value,
		recordId = $('recordId').value,
		relateId = $('relateId').value;
	location = ${basePath} + "platform/diffPriceBill/downloadDiffPriceBill.xhtml?startTime=" + startTime + 
				"&endTime=" + endTime +
				"&recordId=" + recordId +
				"&relateId=" + relateId;
};

//导出所有异价订单明细
function downloadAllDiffPricOrderxls(recordId) {
	location = ${basePath} + "platform/diffPriceBill/queryOrderDetailByRecordId.xhtml?recordId=" + recordId + "&type=settlt&isXls=isXls";
}
//查看异价订单
function loadDiffPricOrder(checkId){
	var url = '${basePath}platform/diffPriceBill/queryOrderDetailByRecordId.xhtml';
	var values = {"recordId":checkId, "type":"check"}
	var mid = "T" + Date.now();
	GewaraUtil.mask('',mid);
	gewara.util.sendLoad('commMark', url, values, function(){
		GewaraUtil.unmask(mid);
		gewa.util.maskContent('','commMark','异价订单',1500,'commMark','','','','','',function(){
		});
		this(arguments[0]);
	}.bind(arguments[3] && typeof(arguments[3]) == 'function'?arguments[3]:$empty), arguments[4],'POST');
}
</script>
</body>
</html>