<!DOCTYPE html>
<html>
<head>
	<title>对账单</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0"/>
	<link rel="stylesheet" type="text/css" href="${staticPath}css/html.css?v=$VmUtils.jsVersion" />
	<link rel="stylesheet" type="text/css" href="${staticPath}css/settleaccounts/warp.css?v=$VmUtils.jsVersion" />
	<script type="text/javascript" src="${staticPath}scripts/mootools.js"></script>
	<script type="text/javascript" src="${staticPath}scripts/gewara-util.js?v=$VmUtils.jsVersion"></script>
	<script type="text/javascript" src="${staticPath}scripts/apps.js?v=00000"></script>
	<script type="text/javascript" src="${staticPath}scripts/html5.js?v=00000"></script>
	<script type="text/javascript" src="${staticPath}dpicker/WdatePicker.js"></script>
	<script type="text/javascript" src="${staticPath}scripts/tableGear.js?v=00000"></script>
	<script type="text/javascript" src="${staticPath}scripts/Autocompleter.js?v=00000"></script>
	<style type="text/css">
		html{background:#fff;}
		.s{background:#f0f0f0;}
	</style>
	</head>
<body id="_body">
<div class="inner">
	<div class="mod_hd"><h2>对账单</h2></div>
	<div class="mode_search">
		<form action="${basePath}platform/checkBill/checkbills.xhtml" method="post"  onkeydown="javascript:submitByEnter();">
				<h2>查询条件</h2>
				<dl class="mode_search_title">
					<dt>场馆：</dt>
						<dd>
							<input type="hidden" name="placeId" id="placeId" value="$!{params.placeId}"/>
							<input type="text" class="text" name="placeFirstLetter" id="placeFirstLetter" value="$!{params.placeFirstLetter}"/>
						</dd>
				</dl>
				<dl class="mode_search_title">
					<dt>结算状态：</dt>
						<dd>
							<select name="status" id="status">
								$!VmUtils.generateCheckBillAllOptions($!{params.status})
							</select>
						</dd>
				</dl>
				<dl class="mode_search_title">
					<dt>账单时间：</dt>
						<dd>
							<input style="width:150px;" class="text" name="start" id="start" value="$!{params.start}" 
									onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})" class="Wdate" onFocus="WdatePicker({maxDate:'#F{$dp.$D(\'end\')||\'2020-10-01\'}'})"/>至
							<input style="width:150px;" class="text" name="end" id="end" value="$!{params.end}" onFocus="WdatePicker({minDate:'#F{$dp.$D(\'start\')}',maxDate:'2020-10-01'})" 
									onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})" class="Wdate" />
						</dd>
				</dl>
				<div class="mode_search_title">
					<a href="javascript:document.forms[0].submit()" class="button minBt whiteBt"><span>查&nbsp;&nbsp;询</span></a>
					<input type="hidden" name="settleId" value="$!params.settleId"/>
					<input type="hidden" name="isXls" id="isXls"/>
					<a href="javascript:void(0);" class="button minBt whiteBt" onclick="downloadxls();">导出EXCEL</a>
					#parse("WEB-INF/pages/common/goback.vm")
				</div>
		</form>
	</div>
	#if($cks && $cks.size() > 0)
	<div class="tableGear clear">
		<table class="tableGear" id="tableGear">
			<thead>
				<tr>
					<th class="sortable"><span>编号</span><span class="carat"></span></th>
					<th class="sortable"><span>单号</span><span class="carat"></span></th>
					<th class="sortable"><span>影院</span><span class="carat"></span></th>
					<th class="sortable"><span>对账周期</span><span class="carat"></span></th>
					<th class="sortable"><span>结算票数</span><span class="carat"></span></th>
					<th class="sortable"><span>结算金额</span><span class="carat"></span></th>
					<th class="sortable"><span>退票数量</span><span class="carat"></span></th>
					<th class="sortable"><span>退票金额</span><span class="carat"></span></th>
				</tr>
			</thead>
			<tbody>
				#set($allOrder=0)
				#set($allOrderAmount=0)
				#set($allRefund=0)
				#set($allRefundmount=0)
				
				#foreach($ck in ${cks})
					
					#set($place=$!{pm.get(${ck.configId})})
					#set($aggre=${agg.get(${ck.recordId})})
					
					#set($orderTotal=$!{ck.orderTotalNumber})
					#set($orderTotalAmount=$!{ck.orderTotalAmount})
					#set($refundTotal=$!{ck.refundTotalNumber})
					#set($refundTotalAmount=$!{ck.refundTotalAmount})
					
					#set($allOrder=$allOrder + $orderTotal)
					#set($allOrderAmount= $allOrderAmount + $orderTotalAmount)
					#set($allRefund= $allRefund + $refundTotal)
					#set($allRefundmount= $allRefundmount + $refundTotalAmount)
					<tr>
						<td style="width:30px;"><span>
							$!{foreach.count}
							</span>
						</td>
						<td style="width:30px;"><span>
							$!{ck.recordId}
							</span>
						</td>
						<td><span>
							$!placeMap.get($!ck.relateId).name
							</span>
						</td>
						<td style="width:150px;"><span>
							[ $!DateUtil.formatTimestamp($!{ck.start}) -
							$!DateUtil.formatTimestamp($!{ck.end})
							</span>
						</td>
						<td><span>
							$!orderTotal
							</span>
						</td>
						<td><span>
							$!CurrencyFmt.format($orderTotalAmount)
							</span>
						</td>
						<td><span>
							$!refundTotal
							</span>
						</td>
						<td><span>
							$!CurrencyFmt.format($refundTotalAmount)
							</span>
						</td>
					</tr>
				#end
				#set($updateOrderCount=0)
				#set($updateOrderAmount=0)
				#if($ads && $ads.size() > 0)
					#foreach($ad in ${ads})
						#set($updateOrderCount=$!{ad.adjustNumber} + $updateOrderCount)
						#set($updateOrderAmount=$!{ad.amount} + $updateOrderAmount)
					#end
				<tr>
					<td>调整</td>
					<td colspan="2"></td>
					<td>$updateOrderCount</td>
					<td>$updateOrderAmount</td>
					<td colspan="4"><span style="cursor: pointer;" onclick="loadAdjustList();">查看详情</span></td>
				</tr>
				#end
				#set($prn=0)
				#set($pra=0)
				#if($settle && ($settle.previousRefundNumber != 0 || $settle.previousRefundAmount != 0))
				<tr>
					<td>差异</td>
					<td colspan="2"></td>
					#set($prn=$settle.previousRefundNumber)
					#set($pra=$settle.previousRefundAmount)
					<td>$prn</td>
					<td>$pra</td>
					<td colspan="4"></td>
				</tr>
				#end
				#set($allOrder=$allOrder + $updateOrderCount)
				#set($allOrder=$allOrder - $prn)
				#set($allOrderAmount=$allOrderAmount + $updateOrderAmount)
				#set($allOrderAmount=$allOrderAmount - $pra)
				<tr>
					<td colspan="4">合计</td>
					<td>$!allOrder</td>
					<td>$!CurrencyFmt.format($allOrderAmount)</td>
					<td>$!allRefund</td>
					<td>$!CurrencyFmt.format($allRefundmount)</td>
				</tr>
			</tbody>
		</table>
	</div>
	#else
		<div class="ui_warning">查询条件范围内，没有数据。</div>
	#end
</div>
<div id="commMark" style="display:none; height: 400px;overflow-y: auto;">
	#if($ads && $ads.size() > 0)
		<table class="tableGear" style="margin-top:0px;">
			<thead>
				<tr>
					<th class="sortable"><span>调整数量</span><span class="carat"></span></th>
					<th class="sortable"><span>调整金额</span><span class="carat"></span></th>
					<th class="sortable"><span>调整申请人</span><span class="carat"></span></th>
					<th class="sortable"><span>调整原因</span><span class="carat"></span></th>
					<th class="sortable"><span>调整备注</span><span class="carat"></span></th>
				</tr>
			</thead>
			<tbody>
			#foreach($ad in ${ads})
				<tr>
				<td style="width:60px;"><span>
						$!{ad.adjustNumber}
						</span>
					</td>
					<td style="width:60px;"><span>
						$!{ad.amount}
						</span>
					</td>
					
					<td style="width:60px;"><span>
						$!{ad.operator}
						</span>
					</td>
					<td style="width:120px;"><span>
						$VmUtils.displayEnums("AdjustReasonEnums" , $!{ad.reason})
						</span>
					</td>
					<td style="width:60px;"><span>
						$!{ad.comments}
						</span>
					</td>
				</tr>
			#end
			</tbody>
		</table>
	#end
</div>


<script type="text/javascript">
function submitByEnter(){
    if(event.keyCode == 13){
     document.forms[0].submit();
    }
}
window.addEvent('domready',function(){
	#if($cks && $cks.size() > 0)
	new TableGear('tableGear');
	$('tableGear').getElements('tr').addEvents({
		"mouseover":function(){
			this.addClass('s')
		},
		"mouseout":function(){
			this.removeClass('s')
		}
	});
	#end
	completer = new Autocompleter.Local($("placeFirstLetter"), parent.pdata, {
		'delay': 100,
		'maxChoices': 10,
		'minLength':0,
		'requestid':'placeId',
		'filter': function() {
			var vl = this.queryValue;
			var values = vl.trim().split(/ +/);
			return this.tokens.filter(function(token){
				var result = values.every(function(v){
					var reg = new RegExp(v.escapeRegExp(),'i');
					return reg.test(token.pinyin) || reg.test(token.name);
				});
				return result;
			});
		},
		'injectChoice': function(choice){
			parent.myGenChoice(this,choice);
		}
	});
	lockMenu();
});
function lockMenu(){
	var menus = parent.document.getElements('#navleftid a');
	if(menus)menus.filter(function(link){
			link.removeClass('select');
			return link.get('href').indexOf(document.location.pathname) >= 0;
		}).addClass('select');
}
function loadAdjustList(){
	gewa.util.maskContent('','commMark','调整列表',800,'commMark','','','','','',function(){});
}
</script>

<script>
var downloadxls=function(){
	if(document.forms[0]){
		$("isXls").value="downloadxls";
		document.forms[0].submit();
		$("isXls").value="";
	}else{
		var a=document.location.href;
		a=a+"&isXls=download";
		document.location.href=a;
	}
};
</script>
</body>
</html>