<!DOCTYPE html>
<html>
<head>
	<title>结算单</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0"/>
	<link rel="stylesheet" type="text/css" href="${staticPath}css/html.css?v=$VmUtils.jsVersion" />
	<link rel="stylesheet" type="text/css" href="${staticPath}css/settleaccounts/warp.css?v=$VmUtils.jsVersion" />
	<script type="text/javascript" src="${staticPath}scripts/mootools.js"></script>
	<script type="text/javascript" src="${staticPath}scripts/gewara-util.js?v=$VmUtils.jsVersion"></script>
	<script type="text/javascript" src="${staticPath}scripts/apps.js?v=00000"></script>
	<script type="text/javascript" src="${staticPath}scripts/html5.js?v=00000"></script>
	<script type="text/javascript" src="${staticPath}dpicker/WdatePicker.js"></script>
	<script type="text/javascript" src="${staticPath}scripts/tableGear.js?v=00000"></script>
	<script type="text/javascript" src="${staticPath}scripts/Autocompleter.js?v=00000"></script>
	<script type="text/javascript" src="${staticPath}scripts/tips.js"></script>
	<script type="text/javascript" src="${basePath}js/autoComplete.js"></script>
	<style type="text/css">
		html{background:#fff;}
		.s{background:#f0f0f0;}
		.auto_hidden {
		    width:204px;
		    border: 1px solid #333;
		    position:absolute;
		    display:none;
		}
		.auto_show {
		    width:204px;
		    border: 1px solid #333;
		    
		    position:absolute;
		    z-index:9999; /* 设置对象的层叠顺序 */
		    display:block;
		}
		.auto_onmouseover{
		    color:#fff;
		    background-color:highlight;
		    width:100%;
		}
		.auto_onmouseout{
		    color:#000;
		    width:100%;
		    background-color:#fff;
		} 
		li{float: left;}
	</style>
</head>
<body id="_body">
<div class="inner">
	#set($nvg="settlementbills")
	#parse('WEB-INF/pages/nvaig/settlenvaig.vm')
	<div class="mode_search">
		<form action="${basePath}platform/settlement/settlementbills.xhtml" method="post" onkeydown="javascript:submitByEnter();" id="squeryForm">
				<h2>查询条件</h2>
				<ul>
					<li>
						结算单号：<input type="text" class="text" name="recordId" id="recordId" value="$!{params.recordId}" style="width: 100px;"/>
					</li>
					<li>
						&nbsp;&nbsp;场馆：
						<input type="hidden" name="placeId" id="placeId" value="$!{params.placeId}"/>
						<input type="text" class="text" name="placeFirstLetter" id="placeFirstLetter" value="$!{placeFirstLetter}" autocomplete="off" style="width: 250px;"/>
					</li>
					<li>
						&nbsp;&nbsp;时间：
						<input style="width:150px;" class="text" name="start" id="start" value="$!{params.start}" 
											onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" onFocus="WdatePicker({maxDate:'#F{$dp.$D(\'end\')||\'2020-10-01 00:00:00\'}'})"/>至
						<input style="width:150px;" class="text" name="end" id="end" value="$!{params.end}" 
											onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" onFocus="WdatePicker({minDate:'#F{$dp.$D(\'start\')}',maxDate:'2020-10-01 00:00:00'})"/>
					</li>
					<li>
						&nbsp;&nbsp;结算单状态：
						#set($statusMap = $VmUtils.ck2Map())
						<select id="status" name="status" class="text" style="width: 150px;">
							$VmUtils.mapToSelect($statusMap,$status)
						</select>
					</li>
					<li>
						&nbsp;&nbsp;请款状态：
						<select id="reqMoneyStatus" name="reqMoneyStatus" class="text" style="width: 100px;">
							<option value="">全部</option>
							<option value="Y" #if($VmUtils.eq($!params.reqMoneyStatus,"Y")) selected="selected" #end>已请款</option>
							<option value="N" #if($VmUtils.eq($!params.reqMoneyStatus,"N")) selected="selected" #end>未请款</option>
						</select>
					</li>
					<br><br>
					<li>
						结算单类型：
						<select id="billType" name="billType" class="text" style="width: 150px;" onchange="displayselect();">
							<option value="">全部</option>
							<option value="TICKET" #if($VmUtils.eq($!billType,"TICKET")) selected="selected" #end>影票结算单</option>
							<option value="GOODS" #if($VmUtils.eq($!billType,"GOODS")) selected="selected" #end>卖品结算单</option>
							<option value="CHANNEL" #if($VmUtils.eq($!billType,"CHANNEL")) selected="selected" #end>通道费结算单</option>
						</select>
					</li>
					<li id="channeltypeli"  #if(!$VmUtils.eq($!billType,"CHANNEL")) style="display: none;" #end >
						&nbsp;&nbsp;通道费类型：
						<select id="channelType" name="channelType" class="text" style="width:100px;">
							<option value="">全部</option>
							<option value="CINEMA" #if($VmUtils.eq($!params.channelType,"CINEMA")) selected="selected" #end>单家影院</option>
							<option value="THEATRES" #if($VmUtils.eq($!params.channelType,"THEATRES")) selected="selected" #end>院线</option>
							<option value="SYS" #if($VmUtils.eq($!params.channelType,"SYS")) selected="selected" #end>系统方</option>
						</select>
					</li>
					<li id="channelvendorli" #if(!$VmUtils.eq($!billType,"CHANNEL")) style="display: none;" #end  >
						&nbsp;&nbsp;通道费供应商名称：
					    <input type="text" class="text" id="cvendorName" name="vendorName" style="width: 250px;" value="$!{vendorName}"  autocomplete="off">
	    			    <input type="hidden" id="cvendorId" name="vendorId" value="$!{params.vendorId}">
    			    </li>
    			    <li id="ticketplaytypeli"  #if(!$VmUtils.eq($!billType,"TICKET")) style="display: none;" #end >
						&nbsp;&nbsp;影票系统类型：
						<select id="playType" name="playType" class="text" style="width:100px;">
							<option value="">全部</option>
							<option value="ZL" #if($VmUtils.eq($!params.playType,"ZL")) selected="selected" #end>直连系统</option>
							<option value="XN" #if($VmUtils.eq($!params.playType,"XN")) selected="selected" #end>虚拟系统</option>
							<option value="GW" #if($VmUtils.eq($!params.playType,"GW")) selected="selected" #end>格瓦票务</option>
							<option value="BC" #if($VmUtils.eq($!params.playType,"BC")) selected="selected" #end>影院包场</option>
						</select>
					</li>
					<li id="goodsplaytypeli"  #if(!$VmUtils.eq($!billType,"GOODS")) style="display: none;" #end >
						&nbsp;&nbsp;类型：
						<select id="goodsType" name="goodsType" class="text" style="width:100px;">
							<option value="">全部</option>
							<option value="BC" #if($VmUtils.eq($!params.playType,"BC")) selected="selected" #end>影院包场</option>
						</select>
					</li>
					<li>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<a href="javascript:checkAndCommit();" class="button minBt whiteBt"><span>查&nbsp;&nbsp;询</span></a>
						<input type="hidden" name="isXls" id="isXls"/>
						&nbsp;&nbsp;
						<a href="javascript:void(0);" class="button minBt whiteBt" onclick="downloadxls();">导出EXCEL</a>
						&nbsp;&nbsp;
						<a href="javascript:void(0);" class="button minBt whiteBt" onclick="batchPay();">批量付款</a>
						&nbsp;&nbsp;
						<a href="javascript:void(0);" class="button minBt whiteBt" onclick="batchReqMoney();">批量请款</a>
						&nbsp;&nbsp;
						#parse("WEB-INF/pages/common/goback.vm")
					</li>
					<br>
				</ul>
		</form>
	</div>
	#if($sb && $sb.size() > 0)
	<div class="tableGear clear">
		<table class="tableGear" id="tableGear">
			<thead>
				<tr>
					<th style="width:5%;"><input type="checkbox" onclick="selectAll();"/><span>单号</span></th>
					<th style="width:6%;"><span>结算类型</span></th>
					<th style="width:9%;"><span>结算周期</span></th>
					<th><span>影院/供应商</span></th>
					<th style="width:5%;"><span>出票金额</span></th>
					<th style="width:5%;"><span>退票金额</span></th>
					<th style="width:5%;"><span>调整金额</span></th>
					<th style="width:5%;"><span>异价差额</span></th>
					<th style="width:5%;"><span>包场预付</span></th>
					<th style="width:5%;"><span>特价扣减</span></th>
					<th style="width:5%;"><span>结算票数</span></th>
					<th style="width:5%;"><span>结算金额</span></th>
					<th style="width:5%;"><span>申请金额</span></th>
					<th style="width:5%;"><span>开票金额</span></th>
					<th style="width:5%;"><span>请款/记账</span></th>
					<th style="width:6%;"><span>结算操作</span></th>
					<th style="width:5%;"><span>详细</span></th>
				</tr>
			</thead>
			<tbody>
				#set($allOrder=0)
				#set($allOrderAmount=0)
				#set($allRefund=0)
				#set($allRefundmount=0)
				#set($allAdjust=0)
				#set($allAdjustAmount=0)
				#foreach($s in ${sb})
				#set($cfg=$!scm.get($s.configId))
				<tr>
					<td><span>
						#if($VmUtils.eq("WAITINGPAY",$!{s.status}) && $!{s.orderTotalAmount} > 0)
							#if($VmUtils.eq($!{s.lastOperator}, 'Y'))
								<input type="checkbox" name="settleIds" value="$!{s.recordId}"/>
								<input type="hidden" name="reqMoneyStatus" value="$!{s.reqMoneyStatus}"/>
							#end
						#end
						<a href="javascript:loadSettleDeatil('$!{s.recordId}');">
							$!{s.recordId}
						</a>
					</span></td>
					<td>$!billTypeMap.get($!{s.tag})
						#if($VmUtils.eq($!s.tag,'TICKET'))
							#if($VmUtils.eq($!s.playType,'ZL'))
								<br/>直连
							#elseif($VmUtils.eq($!s.playType,'XN'))
								<br/>虚拟
							#elseif($VmUtils.eq($!s.playType,'GW'))
								<br/>格瓦票务
							#elseif($VmUtils.eq($!s.playType,'BC'))
								<br/>包场
							#end
							#if($VmUtils.eq($!s.special,'HEPING_OUTER'))
								<br/>大光明巨幕
							#elseif($VmUtils.eq($!s.special,'WANDA_ACTIVITY'))
								<br/>万达活动场
							#elseif($VmUtils.eq($!s.special,'WANDA_NOT_ACTIVITY'))
								<br/>万达非活动场
							#end
						#elseif($VmUtils.eq($!s.tag,'CHANNEL'))
							#if($VmUtils.eq($!channelCfgMap.get($s.relateId).vendorType,'CINEMA'))
								<br/>单家影院
							#elseif($VmUtils.eq($!channelCfgMap.get($s.relateId).vendorType,'SYS'))
								<br/>系统方
							#elseif($VmUtils.eq($!channelCfgMap.get($s.relateId).vendorType,'THEATRES'))
								<br/>院线方
							#end
						#else
							#if($VmUtils.eq($!s.playType,'BC'))
								<br/>包场
							#end
						#end
					</td>
					<td style="width:150px;"><span>
						[ $!DateUtil.formatTimestamp($!{s.startTime}) -<br/> 
						 &nbsp;&nbsp;$!DateUtil.formatTimestamp($!{s.endTime}) )
						</span>
					</td>
					<td style="width:150px;"><span>
							#if($VmUtils.eq($!s.tag,'CHANNEL'))
								<a href="${basePath}platform/channelsettle/loadChannelConfigPage.xhtml?vendorId=$s.relateId">
									$!channelCfgMap.get($s.relateId).vendorName
								</a>
							#else
								<a href="${basePath}platform/settleconfig/settleconfigs.xhtml?placeId=$s.configId">
									$!pm.get($s.configId).name
								</a>
							#end
						</span>
					</td>
					<td><span>
						#if($!{s.succTicketAmount} != 0 && ($VmUtils.eq("TICKET",$!{s.tag}) || $VmUtils.eq("GOODS",$!{s.tag})) && !$VmUtils.eq($!s.playType,'BC'))
							<a href="${basePath}platform/gewaorder/querySettleOrderDetails.xhtml?settleBillId=$!{s.recordId}" target="_blank">$!CurrencyFmt.format($!{s.succTicketAmount})</a>
						#else 
							$!CurrencyFmt.format($!{s.succTicketAmount})
						#end
						</span>
					</td>
					<td><span>
						#set($currefundTotal=$!{s.refundTotalNumber})
						#set($currefundTotalAmount=$!{s.refundTotalAmount})
						#if($!{s.refundTotalAmount} != 0 && ($VmUtils.eq("TICKET",$!{s.tag}) || $VmUtils.eq("GOODS",$!{s.tag})) && !$VmUtils.eq($!s.playType,'BC'))
							<a href="${basePath}platform/gewaorder/querySettleRefundmentDetails.xhtml?settleBillId=$!{s.recordId}" target="_blank">$!CurrencyFmt.format($!{s.refundTotalAmount})</a>
						#else 
							$!CurrencyFmt.format($!{s.refundTotalAmount})
						#end
						</span>
					</td>
					<td><span>
						#set($curadjustTotalNumber=$!{s.adjustTotalNumber})
						#set($curadjustTotalAmount=$!{s.adjustTotalAmount})
						#if($!{s.adjustTotalAmount} != 0)
							<a href="javascript:loadAdjustList('$!{s.recordId}');">$!CurrencyFmt.format($!{s.adjustTotalAmount})</a>
						#else 
							$!CurrencyFmt.format($!{s.adjustTotalAmount})
						#end
						</span>
					</td>
					<td><span>
						#if($!{s.diffPriceAmount} != 0  && $VmUtils.eq("TICKET",$!{s.tag}))
							<a href="${basePath}platform/diffPriceBill/diffPriceBillDetail.xhtml?recordId=$!{s.recordId}"  target="_blank">$!CurrencyFmt.format($!{s.diffPriceAmount})</a>
						#else 
							$!CurrencyFmt.format($!{s.diffPriceAmount})
						#end
						</span>
					</td>
					<td><span>
						$!CurrencyFmt.format($!extendBillMap.get($!{s.recordId}).bcPrePay)
						</span>
					</td>
					<td><span>
						$!CurrencyFmt.format($!extendBillMap.get($!{s.recordId}).placeallowance)
						</span>
					</td>
					<td><span  style="color: #075F0A;  font-weight: bold;">
						#set($orderTotal=$!{s.orderTotalNumber})
						$VmUtils.getTotal($!{s.orderTotalNumber})
						</span>
					</td>
					<td><span  style="color: #075F0A;  font-weight: bold;">
						#set($orderTotalAmount=$!{s.orderTotalAmount})
						$!CurrencyFmt.format($!{s.orderTotalAmount})
						</span>
					</td>
					<td><span>
						$!CurrencyFmt.format($!{s.applySettleAmount})
						</span>
					</td>
					<td><span>
						$!CurrencyFmt.format($!extendBillMap.get($!{s.recordId}).billingamount)
						</span>
					</td>
					<td><span>
						#if($VmUtils.eq($!{s.reqMoneyStatus},'Y'))
							已请款<br/>
							<a href="${basePath}platform/settlement/gotoQueryReqMoney.xhtml?recordId=$!{s.recordId}">查看请款</a><br/>
							<a href="${basePath}platform/settlement/printReqMoney.xhtml?recordId=$!{s.recordId}"  target="_blank">打印请款</a>
						#else
							未请款
							#if($VmUtils.eq("WAITINGPAY",$!{s.status}) || $VmUtils.eq("SETTLED",$!{s.status}))
							<br/><a href="javascript:reqMoney('$!{s.recordId}');">申请请款</a>
							#end
						#end
						#if($VmUtils.eq($!{s.hasJizhang},'Y'))
							<br/>已记账
						#else
							<br/>未记账
						#end
						</span>
					</td>
					<td><span>
						$!{VmUtils.displayEnums("CheckBillStatusEnums",$!{s.status})}
						#if( $VmUtils.eq("READJUST",$!{s.status}) )
							<br/><a href="javascript:showAdjustPop('$!{s.recordId}')">调整</a>
						#end
						#if($VmUtils.eq("WAITINGPAY",$!{s.status}) && $!{s.orderTotalAmount} > 0)
							#if($VmUtils.eq($!{s.lastOperator}, 'Y'))
								<br/><a href="javascript:paySettle('$!{s.recordId}')">付款到商家</a>
								#if($VmUtils.eq($!s.tag ,'TICKET') && $VmUtils.eq($!{resetadjust},'Y'))
									<br/><a href="javascript:gewaReadjust('$!{s.recordId}')">重置调整</a>
								#end
							#end
						#end
						#if($VmUtils.eq("SETTLED",$!{s.status}) && $VmUtils.eq($!{s.lastOperator}, 'Y'))
       						<br/><a href="javascript:rePaySettle('$!{s.recordId}')">重新支付</a>
      					#end
	      				#if(!$VmUtils.eq($!s.tag,'TICKET'))
							#if($VmUtils.eq("SETTLED",$!{s.status}) || $VmUtils.eq("WAITINGPAY",$!{s.status}))
								<br/><a href="${basePath}platform/settlement/printSettledetails.xhtml?recordId=$!{s.recordId}&isPrint=true" target="_blank">打印存档</a>
							#end							
	      				#end
						</span>
					</td>
					<td><span>
						<a href="${basePath}platform/invoice/queryInvoice.xhtml?settleid=$!{s.recordId}">
							发票明细
						</a>
						#if($VmUtils.eq($!s.tag,'TICKET'))
							#if($VmUtils.eq($!s.playType,'BC'))
								<br/><a href="${basePath}platform/baochang/queryBaoChang.xhtml?settleId=$!{s.recordId}">包场场次</a>
							#else
								<br/><a href="${basePath}platform/settlement/settlementDetails.xhtml?recordId=$!{s.recordId}">日账单明细</a>
							#end
							#if($!{s.diffPriceAmount} != 0  && $VmUtils.eq("TICKET",$!{s.tag}))
								<br/><a href="javascript:loadPricedPlayItem($!{s.recordId});">异价场次</a>
							#end 
							
						#end
						#if($VmUtils.eq($!s.tag,'CHANNEL'))
							<br/><a href="${basePath}platform/settlement/settlementDetails.xhtml?recordId=$!{s.recordId}">影院账单</a>
						#end
						#if($VmUtils.eq($!s.tag,'GOODS'))
							#if($VmUtils.eq($!s.playType,'BC'))
								<br/><a href="${basePath}platform/baochang/queryBaoChang.xhtml?goodsSettleId=$!{s.recordId}">包场场次</a>
							#else
								<br/><a href="${basePath}platform/settlement/settlementDetails.xhtml?recordId=$!{s.recordId}">日账单明细</a>
							#end
						#end
						</span>
					</td>
				</tr>
				#set($allOrder=$allOrder + $orderTotal)
				#set($allOrderAmount= $allOrderAmount + $orderTotalAmount)
				#set($allRefund= $allRefund + $!currefundTotal)
				#set($allRefundmount= $allRefundmount + $!currefundTotalAmount)
				#set($allAdjust= $allAdjust + $!curadjustTotalNumber)
				#set($allAdjustAmount= $allAdjustAmount + $!curadjustTotalAmount)
				#end
			</tbody>
			<tfoot>
				<tr>
					<td colspan="20">
					<span style="float:left">
						总结算票数:$VmUtils.getTotal($allOrder)、总结算金额:$!CurrencyFmt.format($allOrderAmount)、总退款票数:$VmUtils.getTotal($allRefund)、总退款金额:$!CurrencyFmt.format($allRefundmount)、总调整票数:$VmUtils.getTotal($allAdjust)、总调整金额:$!CurrencyFmt.format($allAdjustAmount)
					</span>
					#parse('WEB-INF/include/pageUtil.vm')
					</td>
				</tr>
			</tfoot>
		</table>
	</div>
	#else
	<div class="ui_warning">查询条件范围内，没有数据。</div>
	#end
	
</div>
<div id="commMark" style="display:none; height: 450px">
</div>
<div id="adListcommMark" style="display:none; height: 450px;overflow-y:auto;">
</div>
<div id="detailMark" style="display:none; height: 450px;overflow-y:auto;">
</div>
<div id="confrimSettleBill" style="top:257px;">
</div>

<div id="adjustMark" style="display:none;">
	#parse('WEB-INF/pages/adjust/adjustDetails.vm')
</div>

<div class="auto_hidden" id="auto"><!--自动完成 DIV--></div>

<script type="text/javascript">
var hasPay = false;
var hasAdjust = false;
var hasreqMoney = false;
function submitByEnter(){
    if(event.keyCode == 13){
    	checkAndCommit();
    }
}
function checkAndCommit(){ 
	var recordId = document.getElementById("recordId").value;
	recordId = recordId.trim()
	if(recordId.length == 0 || (/^\d+$/.test(recordId))){
		var placeFirstLetter = $("placeFirstLetter").value;
		if(placeFirstLetter == null || placeFirstLetter == "") {
			$("placeId").value = "";
		}
	    var cvendorName = $("cvendorName").value;
		if(cvendorName == null || cvendorName == "") {
			$("cvendorId").value = "";
		}
		$("recordId").value = recordId;
		$('squeryForm').submit();
	}else{
	    gewaUtil.alert("结算单号格式有误，请确认");
	}
}
window.addEvent('domready',function(){
	#if($sb && $sb.size() > 0)
	new TableGear('tableGear');
	$('tableGear').getElements('tr').addEvents({
		"mouseover":function(){
			this.addClass('s')
		},
		"mouseout":function(){
			this.removeClass('s')
		}
	});
	#end
	$$('.tips').amTips();
	completer = new Autocompleter.Local($("placeFirstLetter"), parent.pdata, {
		'delay': 100,
		'maxChoices': 10,
		'minLength':0,
		'requestid':'placeId',
		'filter': function() {
			var vl = this.queryValue;
			var values = vl.trim().split(/ +/);
			return this.tokens.filter(function(token){
				var result = values.every(function(v){
					var reg = new RegExp(v.escapeRegExp(),'i');
					return reg.test(token.pinyin) || reg.test(token.name);
				});
				return result;
			});
		},
		'injectChoice': function(choice){
			parent.myGenChoice(this,choice);
		}
	});
	lockMenu();
	displayselect($!billType);
});

function lockMenu(){
	var menus = parent.document.getElements('#navleftid a');
	if(menus)menus.filter(function(link){
			link.removeClass('select');
			return link.get('href').indexOf(document.location.pathname) >= 0;
		}).addClass('select');
}

function loadAdjustList(recordId){
	var url = "${basePath}platform/adjust/loadAdjustList.xhtml";
	var values = {"settleId":recordId}
	var mid = "T" + Date.now();
	GewaraUtil.mask('',mid);
	gewara.util.sendLoad('adListcommMark', url, values, function(){
		GewaraUtil.unmask(mid);
		gewa.util.maskContent('','adListcommMark','调整列表',800,'adListcommMark','','','','','',function(){
		});
		this(arguments[0]);
	}.bind(arguments[3] && typeof(arguments[3]) == 'function'?arguments[3]:$empty), arguments[4],'POST');
}

function tomerchant(recordId){
	gewa.util.issure('','确认提交到商户审核？','提示',420,'keys',function(calls,id){//keys为动态标识可以自定义,执行函数放在回调函数内
		var mid = "T" + Date.now();
		GewaraUtil.mask('',mid);
		var url = "${basePath}platform/settlement/tomerchant.xhtml";
		var values = {"recordId":recordId};
		GewaraUtil.sendRequest(url, values, function(result){
			GewaraUtil.unmask(mid);
			if(result.success == true){
				gewaUtil.alert("成功！", function(){$('squeryForm').submit();});
			}else{
				gewaUtil.alert(result.msg);
			}
		});
		gewa.util.container['keys'].dispose('keys');
	});
}
function paySettle(recordId){
	gewa.util.issure('','是否线上付款？','格瓦拉提示你',420,'iskyes',function(){
		gewa.util.container['iskyes'].dispose('iskyes');
		gewa.util.issure('','确认线上付款到商户吗？','提示',420,'keys',function(calls,id){//keys为动态标识可以自定义,执行函数放在回调函数内
			if(hasPay) {
				//return;
			} else {
				hasPay = true;
				var url = "${basePath}platform/settlement/paySettle.xhtml";
				var values = {"recordId":recordId, "isOnline": true};
				var mid = "T" + Date.now();
				GewaraUtil.mask('',mid);
				GewaraUtil.sendRequest(url, values, function(result){
					GewaraUtil.unmask(mid);
					if(result.success == true){
						gewaUtil.alert("成功！", function(){$('squeryForm').submit();});
					}else{
						hasPay = false;
						gewaUtil.alert(result.msg);
					}
				});
				gewa.util.container['keys'].dispose('keys');
			}
		});
	},'是',function(){
		gewa.util.container['iskyes'].dispose('iskyes');
		gewa.util.issure('','确认线下付款到商户吗？','提示',420,'keys',function(calls,id){//keys为动态标识可以自定义,执行函数放在回调函数内
			var url = "${basePath}platform/settlement/paySettle.xhtml";
			var values = {"recordId":recordId, "isOnline": false};
			var mid = "T" + Date.now();
			GewaraUtil.mask('',mid);
			GewaraUtil.sendRequest(url, values, function(result){
				GewaraUtil.unmask(mid);
				if(result.success == true){
					gewaUtil.alert("成功！", function(){$('squeryForm').submit();});
				}else{
					gewaUtil.alert(result.msg);
				}
			});
			gewa.util.container['keys'].dispose('keys');
		});
	},'','否')
}

function gewaReadjust(recordId){
	gewa.util.issure('','确认要将结算单重置为商户申请调整状态吗？','提示',420,'keys',function(calls,id){//keys为动态标识可以自定义,执行函数放在回调函数内
		var url = "${basePath}setInvalid.xhtml";
		var values = {"recordId":recordId, "status":"READJUST"};
		var mid = "T" + Date.now();
		GewaraUtil.mask('',mid);
		GewaraUtil.sendRequest(url, values, function(result){
			GewaraUtil.unmask(mid);
			if(result.success == true){
				gewaUtil.alert("重置成功！", function(){$('squeryForm').submit();});
			}else{
				gewaUtil.alert(result.msg);
			}
		});
		gewa.util.container['keys'].dispose('keys');
	});
}
/* function confirmPay(recordId){
	console.info(recordId);
	gewa.util.issure('','确认提交付款吗？','提示',420,'keys',function(calls,id){//keys为动态标识可以自定义,执行函数放在回调函数内
		var url = "${basePath}platform/settlement/confirmPay.xhtml";
		var values = {"recordId":recordId};
		var mid = "T" + Date.now();
		GewaraUtil.mask('',mid);
		GewaraUtil.sendRequest(url, values, function(result){
			GewaraUtil.unmask(mid);
			if(result.success == true){
				gewaUtil.alert("成功！", function(){$('squeryForm').submit();});
			}else{
				gewaUtil.alert(result.msg);
			}
		});
		gewa.util.container['keys'].dispose('keys');
	});
}
 */
var cancelCommentMarks = function(){
	gewa.util.container['commMark'].dispose('commMark');
}
var cancelAdjustMarks = function(){
	gewa.util.container['adjustMark'].dispose('adjustMark');
}
var downloadxls=function(){
	if(document.forms[0]){
		$("isXls").value="downloadxls";
		$('squeryForm').submit();
		$("isXls").value="";
	}else{
		var a=document.location.href;
		a=a+"&isXls=download";
		document.location.href=a;
	}
};
function loadPricedPlayItem(settleId){
	var url = '${basePath}platform/settlement/queryPricedPlayItem.xhtml';
	var values = {"settlementId":settleId}
	var mid = "T" + Date.now();
	GewaraUtil.mask('',mid);
	gewara.util.sendLoad('commMark', url, values, function(){
		GewaraUtil.unmask(mid);
		gewa.util.maskContent('','commMark','异价场次',850,'commMark','','','','','',function(){
		});
		this(arguments[0]);
	}.bind(arguments[3] && typeof(arguments[3]) == 'function'?arguments[3]:$empty), arguments[4],'POST');
}
function showAdjustPop(relateId){
	if($('relateId') != null){
		$('relateId').value= relateId;
	}
	gewa.util.maskContent('','adjustMark','',400,'adjustMark');
}
function addAdjust(){
	var tag = "SETTLEBILL";
	var relateId = $('relateId').value;
	var number = $('number').value;
	var amount = $('amount').value;
	var comments = $('comments').value;
	var reason = $('reason').value;
	var filePath = $('filePath').value;
	if (relateId == '' || number == '' || amount == '' || comments == '' || reason ==''){
		gewaUtil.alert("请输入完整的调整信息.");
		return;
	}
	
	var url = "${basePath}platform/adjust/saveAdjustment.xhtml";
	var values = {"tag":tag, "relateId":relateId, "adjustNumber":number, "amount":amount , "reason": reason, "comments":comments,"filePath":filePath}
	if(hasAdjust) {
		return;
	}
	hasAdjust = true;
	GewaraUtil.sendRequest(url, values, function(result){
		GewaraUtil.unmask();
		if(result.success == true){
			gewaUtil.alert("成功！", function(){cancelAdjustMarks(); $('squeryForm').submit();});
		}else{
			hasAdjust = false;
			gewaUtil.alert(result.msg);
		}
	}); 
}
function selectAll(){
	document.getElements('input[type=checkbox][name=settleIds]').each(function(item){
		item.checked = !item.checked;
	})
}

function rePaySettle(recordId){
	gewa.util.issure('','确认重新付款吗？','提示',420,'keys',function(calls,id){//keys为动态标识可以自定义,执行函数放在回调函数内
		var url = "${basePath}platform/settlement/rePaySettle.xhtml";
		var values = {"recordId":recordId};
		var mid = "T" + Date.now();
		GewaraUtil.mask('',mid);
		GewaraUtil.sendRequest(url, values, function(result){
			GewaraUtil.unmask(mid);
			if(result.success == true){
				gewaUtil.alert("重新支付成功！");
			}else{
				gewaUtil.alert(result.msg);
			}
		});
		gewa.util.container['keys'].dispose('keys');
	});
}

function uploadSucced(msg){
	if(msg == ''){
		document.getElementById("uploadMsg").innerHTML=msg;
	}else{
		document.getElementById("uploadMsg").innerHTML="上传成功";
	}
	document.getElementById("uploadMsg").style.display='block';
	document.getElementById("filePath").value = msg;
}

function batchPay(){
	var recordIds = "";
	document.getElements('input[type=checkbox][name=settleIds]').each(function(item){
		if (item.checked == true){
			if (!recordIds == ""){
				recordIds = recordIds + ",";
			}
			recordIds = recordIds + item.value;
		}
	});
	if (recordIds == ""){
		gewaUtil.alert("没有选择任何结算单。");
		return;
	}
	merchantConfirm(recordIds);
}

function merchantConfirm(recordIds){
	gewa.util.issure('','是否批量线上付款？','格瓦拉提示你',420,'iskyes',function(){
		gewa.util.issure('','确认线上付款到商户吗？','提示',420,'keys',function(calls,id){//keys为动态标识可以自定义,执行函数放在回调函数内
			if(hasPay) {
				//return;
			} else {
				hasPay = true;
				var url = "${basePath}platform/settlement/batchPaySettle.xhtml";
				var values = {"recordIds":recordIds, "isOnline": true};
				var mid = "T" + Date.now();
				GewaraUtil.mask('',mid);
				GewaraUtil.sendRequest(url, values, function(result){
					GewaraUtil.unmask(mid);
					if(result.success == true){
						gewaUtil.alert("成功！", function(){$('squeryForm').submit();});
					}else{
						hasPay = false;
						gewaUtil.alert(result.msg);
					}
				});
				gewa.util.container['keys'].dispose('keys');
				gewa.util.container['iskyes'].dispose('iskyes');
			}
		});
	},'是',function(){
		gewa.util.issure('','确认线下付款到商户吗？','提示',420,'keys',function(calls,id){//keys为动态标识可以自定义,执行函数放在回调函数内
			var url = "${basePath}platform/settlement/batchPaySettle.xhtml";
			var values = {"recordIds":recordIds, "isOnline": false};
			var mid = "T" + Date.now();
			GewaraUtil.mask('',mid);
			GewaraUtil.sendRequest(url, values, function(result){
				GewaraUtil.unmask(mid);
				if(result.success == true){
					gewaUtil.alert("成功！", function(){$('squeryForm').submit();});
				}else{
					gewaUtil.alert(result.msg);
				}
			});
			gewa.util.container['keys'].dispose('keys');
			gewa.util.container['iskyes'].dispose('iskyes');
		});
		gewa.util.container['iskyes'].dispose('iskyes');
		
	},'','否')
	
}

var Bind = function(object, fun) {
    return function() {
        return fun.apply(object, arguments);
    }
}

//通道费供应商下来查询
new mSift('vendorsel').Create({
	"url": "${basePath}platform/channelsettle/ajaxLoadVendor.xhtml",
	"prama": function() {
		var pdata = {
				"inputValue": document.getElementById('cvendorName').value,
			};
		return pdata;
	},
	"codeObj": document.getElementById('cvendorId'),
	"nameObj": document.getElementById('cvendorName'),
	"returnCode": function(date) {
		return date.recordId;
	},
	"returnName":function(date) {
		return date.vendorName;
	}
});

/********请款开始******/
function batchReqMoney(){
	var recordIds = "";
	var pass = true;
	document.getElements('input[type=checkbox][name=settleIds]').each(function(item){
		if (item.checked == true){
			var  reqMoneyStatus = getNextElement(item).value;
			if(reqMoneyStatus == "Y") {
				pass = false;
			}
			if (!recordIds == ""){
				recordIds = recordIds + ",";
			}
			recordIds = recordIds + item.value;
		}
	});
	if(!pass){
		gewaUtil.alert("选择的结算单中， 存在已经完成请款的结算单，请重新选择");
		return;
	}
	if (recordIds == ""){
		gewaUtil.alert("请选择需要批量请款的结算单！");
		return;
	}
	reqMoney(recordIds);
}

function reqMoney(recordIds){
	var strs = recordIds.split(",");
	gewa.util.issure('','确认要对' + strs.length + '个结算单请款吗？','提示',420,'keys',function(calls,id){//keys为动态标识可以自定义,执行函数放在回调函数内
		if(hasreqMoney) {
			
		} else {
			hasreqMoney = true;
			var url = "${basePath}platform/settlement/reqMoney.xhtml";
			var values = {"recordIds":recordIds};
			var mid = "T" + Date.now();
			GewaraUtil.mask('',mid);
			GewaraUtil.sendRequest(url, values, function(result){
				GewaraUtil.unmask(mid);
				if(result.success == true){
					gewaUtil.alert(result.retval, function(){$('squeryForm').submit();});
				}else{
					hasreqMoney = false;
					gewaUtil.alert(result.msg);
				}
			});
			gewa.util.container['keys'].dispose('keys');
		}
	});
}

function getNextElement(node){    
    if(node.nextSibling.nodeType == 1){    //判断下一个节点类型为1则是“元素”节点   
        return node.nextSibling;    
    }    
    if(node.nextSibling.nodeType == 3){      //判断下一个节点类型为3则是“文本”节点  ，回调自身函数  
        return getNextElement(node.nextSibling);    
    }    
    return null;
}
/********请款结束******/
//查看详情
function loadSettleDeatil(settleId){
	var url = '${basePath}platform/settlement/settleMore.xhtml';
	var values = {"recordId":settleId}
	var mid = "T" + Date.now();
	GewaraUtil.mask('',mid);
	gewara.util.sendLoad('detailMark', url, values, function(){
		GewaraUtil.unmask(mid);
		gewa.util.maskContent('','detailMark','结算单' + settleId ,850,'detailMark','','','','','',function(){
		});
		this(arguments[0]);
	}.bind(arguments[3] && typeof(arguments[3]) == 'function'?arguments[3]:$empty), arguments[4],'POST');
}

function displayselect() {
	var billType = document.getElementById('billType').value;
	if(billType == "TICKET") {
		document.getElementById('ticketplaytypeli').style.display = "block";
		document.getElementById('channelvendorli').style.display = "none";
		document.getElementById('channeltypeli').style.display = "none";
		document.getElementById('goodsplaytypeli').style.display = "none";
	} else if(billType == "CHANNEL") {
		document.getElementById('ticketplaytypeli').style.display = "none";
		document.getElementById('channelvendorli').style.display = "block";
		document.getElementById('channeltypeli').style.display = "block";
		document.getElementById('goodsplaytypeli').style.display = "none";
	} else if(billType == "GOODS"){
		document.getElementById('ticketplaytypeli').style.display = "none";
		document.getElementById('channelvendorli').style.display = "none";
		document.getElementById('channeltypeli').style.display = "none";
		document.getElementById('goodsplaytypeli').style.display = "block";
	} else {
		document.getElementById('ticketplaytypeli').style.display = "none";
		document.getElementById('channelvendorli').style.display = "none";
		document.getElementById('channeltypeli').style.display = "none";
		document.getElementById('goodsplaytypeli').style.display = "none";
	}
}
</script>
</body>
</html>