<!DOCTYPE html>
<html>
<head>
	<title>审核管理</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0"/>
	<link rel="stylesheet" type="text/css" href="${staticPath}css/html.css?v=$VmUtils.jsVersion" />
	<link rel="stylesheet" type="text/css" href="${staticPath}css/settleaccounts/warp.css?v=$VmUtils.jsVersion" />
	<script type="text/javascript" src="${staticPath}scripts/mootools.js"></script>
	<script type="text/javascript" src="${staticPath}scripts/gewara-util.js?v=$VmUtils.jsVersion"></script>
	<script type="text/javascript" src="${staticPath}scripts/iscroll.js?v=0000000"></script>
	<script type="text/javascript" src="${staticPath}scripts/core.js?v=0000000"></script>
	<script type="text/javascript" src="${staticPath}scripts/apps.js?v=00000"></script>
	<script type="text/javascript" src="${staticPath}scripts/html5.js?v=00000"></script>
	<script type="text/javascript" src="${staticPath}dpicker/WdatePicker.js"></script>
	<script type="text/javascript" src="${staticPath}scripts/tableGear.js?v=00000"></script>
	<script type="text/javascript" src="${staticPath}scripts/Autocompleter.js?v=00000"></script>
	<script type="text/javascript" src="${staticPath}scripts/tips.js"></script>
	<style type="text/css">
		html{background:#fff;}
		.s{background:#f0f0f0;}
	</style>
	
</head>
<body id="_body">
<div class="inner">
	<div class="mod_hd"><h2>未结算商家汇总</h2></div>
	<div class="mod_hd tabs_gary" id="settleStatusId">
		<a href="${basePath}platform/settlement/queryconfirmedSettleBill.xhtml" >已提交结算单</a>
		<a href="${basePath}platform/settlement/queryAdjustSettlement.xhtml" >申请调整商家汇总</a>
		<a href="${basePath}platform/adjust/queryAllAdjustment.xhtml" >调整申请汇总</a>
	</div>
	
	<div class="mode_search">
		<form action="${basePath}platform/settlement/aggreUnsettled.xhtml" method="post">
				<h2>查询条件</h2>
				<div>
					城市:
							<select name="cityCode" id="cityCode">
								$!VmUtils.mapToSelect(${cityMap}, $!{params.cityCode})
							</select>
					院线：
						<select name="brandName" id="brandName">
						#foreach($b in ${bm})
							<option value="$!{b}" #if($!{b} eq $!{params.brandName}) selected="selected" #end>$!{b}</option>
						#end
						</select>
					
					场馆：
						<input type="hidden" name="placeId" id="placeId" value="$!{params.placeId}"/>
						<input type="text" class="text" name="placeFirstLetter" id="placeFirstLetter" value="$!{params.placeFirstLetter}"/>
					周期:	<input style="width:100px;" class="text" name="start" id="start" value="$!{params.start}" 
									onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})" class="Wdate" />至
							<input style="width:100px;" class="text" name="end" id="end" value="$!{params.end}" 
									onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})" class="Wdate" />
					<a href="javascript:document.forms[0].submit()" class="button minBt whiteBt"><span>查&nbsp;&nbsp;询</span></a>
					<a href="javascript:batchTomerchant();" class="button minBt whiteBt">批量提交到商户</a>
						#parse("WEB-INF/pages/common/goback.vm")
				</div>
		</form>
	</div>
	
	
	<div class="tableGear clear">
		<div class="mod_hd tabs_gary">
		</div>
		#if($sb && $sb.size() > 0)	
		<table class="tableGear" id="tableGear">
			<thead>
				<tr>
					<th class="sortable"><span>编号</span><span class="carat"></span></th>
					<th class="sortable"><span>结算单号</span><span class="carat"></span></th>
					<th class="sortable"><span>结算周期</span><span class="carat"></span></th>
					<th class="sortable"><span>影院名称</span><span class="carat"></span></th>
					<th class="sortable"><span>结算票数</span><span class="carat"></span></th>
					<th class="sortable"><span>结算金额</span><span class="carat"></span></th>
					<th class="sortable"><span>快照版本</span><span class="carat"></span></th>
					<th><input type="checkbox" name="" onclick="selectAll();"/>全选</th>
				</tr>
			</thead>
			<tbody>
				#foreach($s in ${sb})
				#set($place=$pm.get($s.configId))
				#set($snapshoot=$sm.get($s.recordId))
				<tr>
					<td ><span>
						$!{foreach.count}
						</span>
					</td>
					<td ><span>
						<a href="${basePath}platform/settlement/settlementbills.xhtml?placeId=$!{place.recordId}&status=NEW&placeFirstLetter=$!{place.name}">$!{s.recordId}</a>
						</span>
					</td>
					<td ><span>
						[ $!DateUtil.formatTimestamp($!{s.startTime}) -
						 $!DateUtil.formatTimestamp($!{s.endTime}) )
						</span>
					</td>
					
					<td ><span>
						$!place.name
						</span>
					</td>
					<td ><span>
						$!snapshoot.orderTotalNumber
						</span>
					</td>
					<td ><span>
						$!CurrencyFmt.format($snapshoot.orderTotalAmount)
						</span>
					</td>
					<td ><span>
						$!snapshoot.snapVersion
						</span>
					</td>
					<td ><span>
						<input type="checkbox" name="settleIds" class="mr3" value="$!{s.recordId}"/>
						</span>
					</td>
				</tr>
				#end
			</tbody>
			<tfoot>
				<tr>
					<td colspan="12">
					#parse('WEB-INF/include/pageUtil.vm')
					</td>
				</tr>
			</tfoot>
		</table>
	</div>
	#else
	<div class="ui_warning">查询条件范围内，没有数据。</div>
	#end
	
</div>
</body>
<script type="text/javascript">
window.addEvent('domready',function(){
	#if($sb && $sb.size() > 0)
	new TableGear('tableGear');
	$('tableGear').getElements('tr').addEvents({
		"mouseover":function(){
			this.addClass('s')
		},
		"mouseout":function(){
			this.removeClass('s')
		}
	});
	#end
	$$('.tips').amTips();
	
	completer = new Autocompleter.Local($("placeFirstLetter"), parent.pdata, {
		'delay': 100,
		'maxChoices': 10,
		'minLength':0,
		'requestid':'placeId',
		'filter': function() {
			var vl = this.queryValue;
			var values = vl.trim().split(/ +/);
			return this.tokens.filter(function(token){
				var result = values.every(function(v){
					var reg = new RegExp(v.escapeRegExp(),'i');
					return reg.test(token.pinyin) || reg.test(token.name);
				});
				return result;
			});
		},
		'injectChoice': function(choice){
			parent.myGenChoice(this,choice);
		}
	});
})

function confirmSettleConfig(recordId){
	gewa.util.issure('','确认通过此结算配置吗？','提示',420,'keys',function(calls,id){//keys为动态标识可以自定义,执行函数放在回调函数内
		var url = "${basePath}platform/settleconfig/approveConfig.xhtml";
		var values = {"recordId":recordId};
		GewaraUtil.sendRequest(url, values, function(result){
			GewaraUtil.unmask();
			if(result.success == true){
				gewaUtil.alert("已通过， 系统在两小时之内为该场馆生成结算单.！", function(){window.location.reload()});
			}else{
				gewaUtil.alert(result.msg);
			}
		});
		gewa.util.container['keys'].dispose('keys');
	});
	
}
function selectAll(){
	document.getElements('input[type=checkbox][name=settleIds]').each(function(item){
		item.checked = !item.checked;
	})
}
function batchTomerchant(){
	var recordIds = "";
	document.getElements('input[type=checkbox][name=settleIds]').each(function(item){
		if (item.checked == true){
			if (!recordIds == ""){
				recordIds = recordIds + ",";
			}
			recordIds = recordIds + item.value;
		}
	});
	if (recordIds == ""){
		gewaUtil.alert("没有选择任何结算单。");
		return;
	}
	
	gewa.util.issure('','确认提交到商户？','提示',420,'keys',function(calls,id){//keys为动态标识可以自定义,执行函数放在回调函数内
		var url = "${basePath}platform/settlement/batchToMerchant.xhtml";
		var values = {"recordIds":recordIds};
		GewaraUtil.sendRequest(url, values, function(result){
			GewaraUtil.unmask();
			if(result.success == true){
				gewaUtil.alert("成功提交， 请耐心等到3-5分钟！", function(){window.location.reload()});
			}else{
				gewaUtil.alert(result.msg);
			}
		});
		gewa.util.container['keys'].dispose('keys');
	});
}
</script>
</html>